h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}


body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    }
    * {
    box-sizing: border-box;
    }
    .bg-img {
    /* The image used */
    background-image: url(/static/images/pretty.png);
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }

    /* Full-width input fields */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    }
    input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    }
    /* Set a style for the submit button */
    .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    margin-top:10px;
    }
    .btn:hover {
    opacity: 1;
    }


.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
}


/* flip speed */
.flipper {
    transition: 0.8s;
    transform-style: preserve-3d;
    position: absolute;
}


/* hide back of pane during swap */
.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    transform: rotateY(0deg);
    background-color: #181a1b;
    background-size: cover;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   padding: 16px;
}

/* back, initially hidden pane */
.back {
    background-color: #181a1b;
    transform: rotateY(180deg);
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
